extends layout

block head
  link(rel='stylesheet', href='/libs/bootstrap-css/css/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/overrides.css')
  script(type='text/javascript', src='/javascripts/controllers/DrinkController.js')

block content
  div#addScope.row(ng-controller="DrinkController", ng-init="setDrinks(#{JSON.stringify(drinks)})")
    div.col-md-2
    div.col-md-8
      h1.title Add Drink
      br
      form(ng-submit="addNewDrink()")
        div.row
          div.col-md-3 Name
          div.col-md-5
            input(ng-model="newDrink.name", placeholder="Name")
        div.row
          div.col-md-3 Filename
          div.col-md-5
            input(ng-model="newDrink.image", placeholder="Relative Link URL")
        div.row
          div.col-md-3 Measurement
          div.col-md-5
            //- This radio button shows the inputs for either ml or % based measurements for ingredients
            div.toggle-btn-grp
              input(type="radio", ng-model="newDrink.measurement", value="ml", ng-click="showPcIngredients=false; showMlIngredients=true")#measurement-ml
              label(for="measurement-ml") ml
              input(type="radio", ng-model="newDrink.measurement", value="pc", ng-click="showPcIngredients=true; showMlIngredients=false")#measurement-pc
              label(for="measurement-pc") pc

        //- Ingredients inputs for % based measurements
        div.row(ng-show="showPcIngredients")
          div.col-md-3 Ingredients
          div.col-md-1
            a(ng-click="addNewIngredient()") +
        div#ingredients.row(ng-show="showPcIngredients")
          div.row(ng-repeat="ingredient in newDrink.ingredients")
            div.row
              div.col-md-3
              div.col-md-3
                select.mixers(ng-model="ingredient.name", ng-options="i for i in ingredientsList")
                  option(value="") -- Choose --
              div.col-md-3
                input.addForm.ingredient(ng-model="ingredient.amount", placeholder='0')
              div.col-md-1
                a(ng-click="removeIngredient($index)") -
            div.row
              div.col-md-3
              div.col-md-2 Delay (%)
              div.col-md-5
                input.addForm.ingredient(ng-model="ingredient.delay", value="0", type="range", min="0", max="100")

        //- Ingredients inputs for ml based measurements
        div.row(ng-show="showMlIngredients")
          div.col-md-3 Ingredients
          div.col-md-2
            a(ng-click="addNewIngredient()") +
          div.col-md-1 Small
          div.col-md-1 Medium
          div.col-md-1 Large
        div#ingredients.row(ng-show="showMlIngredients")
          div.row(ng-repeat="ingredient in newDrink.ingredients")
            div.row
              div.col-md-3
              div.col-md-2
                select.mixers(ng-model="ingredient.name", ng-options="i for i in ingredientsList")
                  option(value="") -- Choose --
              div.col-md-1
                input.addForm.ingredient(ng-model="ingredient.amountSmall", placeholder='0')
              div.col-md-1
                input.addForm.ingredient(ng-model="ingredient.amountMedium", placeholder='0')
              div.col-md-1
                input.addForm.ingredient(ng-model="ingredient.amountLarge", placeholder='0')
              div.col-md-1
                a(ng-click="removeIngredient($index)") -
            div.row
              div.col-md-3
              div.col-md-2 Delay (%)
              div.col-md-5
                input.addForm.ingredient(ng-model="ingredient.delay", value="0", type="range", min="0", max="100")

        //- Show the button if either of the measurement fields are visible
        button.btn(ng-show="showPcIngredients || showMlIngredients") Add Drink
