doctype html
html(ng-app="DrinkModule")
  head
    title= title

    script(type='text/javascript', src='/libs/angular/angular.js')
    script(type='text/javascript', src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/javascripts/DrinkModule.js')
    script(type='text/javascript', src='/libs/jquery/jquery.min.js') 

    block head
  body
    block content



block foot
